---
layout: default-nav
title: Utils
---
<p>Some notes and saved things</p>
<div><a href="/utils/new_tab.html">Stylish new tab</a></div>
<div><a href="/utils/any_case_pasta.html">Пасты для споров в интернетах</a> (18+)</div>
<p>
    Одна из самых трудных мыслительных операций, на которую всерьёз способны очень немногие, это поверить, что другой человек
    <ul>
        <li>не дурак</li>
        <li>не придуривается</li>
        <li>не пьян</li>
        <li>не под веществами</li>
        <li>не устал</li>
        <li>не напуган</li>
        <li>не жертва детской травмы</li>
        <li>не обманщик</li>
        <li>не продался</li>
        <li>не следует каким-то групповым интересам</li>
        <li>не манипулирует</li>
        <li>не встаёт в позу</li>
        <li>не выпендривается</li>
        <li>не ляпнул не подумав</li>
        <li>не жертва ПТСР, "стокгольмского синдрома", сексуальной неудовлетворённости, советского опыта, эмиграции, магнитных бурь, covid-19, облучения с Нибиру</li>
        <li>не испорчен долгим страданием</li>
        <li>не страдает от нехватки жизненного опыта</li>
        <li>не недостаточно образован</li>
    </ul>
    а просто в здравом уме, трезвой памяти, с полным самосознанием и ответственностью, ознакомившись с источниками и критикой -
    <br>
    думает иначе, чем я.
<br>
<a href="https://vk.com/wall3898228_957">source</a>
</p>
{% for image in site.static_files %}
  {% if image.path contains 'assets/img/utils/' %}
    <img src="{{ image.path }}">
  {% endif %}
{% endfor %}
