---
layout: default-nav
title: rprtr258 watch list
---
<h2>Просмотрено</h2>
<table>
    <tbody>
      {% for item in site.data.watched_list %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.score }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
<h2>Запланировано</h2>
<table>
    <tbody>
      {% for item in site.data.towatch_list %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.episodes }}</td>
          <td>{{ item.type }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>