---
---
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <meta property="og:image" content="https://avatars0.githubusercontent.com/u/11417502" />
    <meta property="og:site_name" content="rprtr258" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <title>{{ page.title }}</title>
    <style>
        body {padding: 2% 12% 5% 12%;}
        a {color:#0000FF;}
        a:visited {color:#0000FF;}
    </style>
</head>
<body>
    {{ content }}
</body>
</html>
